
body{
    background: #eeeeee;
}

h1,h2,h3,h4,h5,h6 {
    color: #000000;
    font-family: "Gill Sans", georgia, serif;
    font-style: italic;
    font-weight: bold;
}

a{
    font-family:"Garamond",georgia,serif;
    text-decoration: none;
}

ul li a {
 display:block;
}

h1{
    font-size: 30px;
    color:#daa520;
}

h2{
    font-size: 28px;
    color: #DAA520;
}

h3{
    font-size: 18px ;
    color: #dd0000;
}

p{
    color: #737365;
    font-family:"Garamond",georgia,serif;
    line-height: 1.5;
    font-size: 18px;
}

body>main{
    /*float:left;*/
}

body>header {
    text-align:center;
    position:fixed;
    float: left;
    height:100%;
    width: 15%;
    background: #1b2f48;
    top:0;
    left:0;
    padding: 0px 15px 0px 15px;
}

form{
    border-radius: 10px;
}

form>div{
    padding-left:20px;
    margin-bottom: 20px;
    font-family:"Gill Sans",georgia,serif;
    font-size:24px;
    color: #000000;

}

form>div>label{
    font-family:"Gill Sans",georgia,serif;
    font-size:24px;
    color: #000000;
}

form input[type=text],input[type=password]{
    border:1px solid #CCCCCC;
    border-radius: 10px;
    background: #ffffff;
    padding:3px 5px 3px 5px;
    color: #737365;
}
form textarea{
    border:1px solid #CCCCCC;
    border-radius: 10px;
    background: #ffffff;
    padding:3px 5px 3px 5px;
    color: #737365;
    width:355px;
    height: 220px;
   
}

body>header>ul{
    padding-left: 0;
}

hr{
    color: #504D46;
}

body>header>ul>li{
    list-style-type: none;
    margin-bottom: 20px;
    padding-bottom: 5px;
    transition: color 1s;
    color: #504D46;
}

body>header>ul>li>a{
    font-size: 24px;
    color: white;
    /*border-bottom: 1px solid;*/
    transition: color 0.3s;
}

body>header>ul>li>a:visited{
    color: lightyellow;
}

body>header>ul>li>a:hover{
    list-style-type: none;
    border-bottom: 1px solid cornsilk;
    cursor: pointer;
    color: white;
}

footer{
    background: #1b2f48;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.content-wrap{
    margin-left: 20%;
    float:left;
}

article{
    margin-top: 100px;
    border-top: 1px solid #737365;
}

.article-control-buttons{
    color: #737365;
    float: right;
}

button, input[type=submit]{
    border:1px solid lavender;
    border-radius: 10px;
    font-size:18px;
    color: #252520;
    background: #DDDDDD;
    transition: color 0.3s;
    transition: border 0.3s;
    cursor: pointer;
}

button:hover, input[type=submit]:hover{
    color: #fff;
    border:1px solid #fff;
}

body>header a:hover{
    text-align: center;
}

.cancel-button{

}

body>header>a>img, body>header a  {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 1.2em;

}
body>header>a>img{
    width:100%;
}

.content-wrap>footer {
    background: #1b2f48;
    color: white;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

table th, table td {
    background: #DDD;
    padding: 5px;
}

ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

ul#messages li.info {
    background: #7f7;
}

ul#messages li.error {
    background: #d00;
    color: white;
}

.validation-error {
    vertical-align: top;
    margin-left: 10px;
    color: red;
}

#logged-in-info {
    float: right;
    margin-top: 18px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

body>aside {
    float: right;
    width: 200px;
    background: #CCC;
    padding: 15px;
    margin-left: 20px;
}

body>aside h2 {
    margin: 5px 0px 15px 0px;
}

body>aside a {
    display: block;
    margin: 5px 0px;
    text-decoration: none;
}

body>main:after {
    content: '';
    display: block;
    clear: both;
}

.greeting {
    float:right;
}

.validation-error {
    color: red;
}

.table td,table th {
    background: #CCC;
}

